<main>
  <h2 class="title">CONTACT</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h3 class="mb-5 text-center">お問合せありがとうございました</h3>
        <p class="text-center">
          回答まで１週間ほどのお時間をいただきます。<br/>
          誠に恐れ入りますが、ご連絡までしばらくお待ち下さい。
        </p>
      </div>
    </div>
  </div>
</main>