<main>
  <h2 class="title">ABOUT</h2>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h3 class="mb-5">全ての食パン好きの方へ</h3>
        <p>
          食パンの美味しさと楽しさの世界へようこそ。<br /><br />
          食パンは様々なパンの種類がある中で、<br />
          焼かずにそのまま食べるのも良し、<br />
          トーストやサンドイッチにして食べることもできる<br />
          可能性がt常に広がっていく素晴らしいパンです。<br /><br />
          食べ方によって香りや味はもちろんのこと、<br />
          食感が多様になり、飽きることなく楽しめる食品です。<br /><br />
          そんな食パンに関する様々な情報を共有できるツールです。<br />
          「食パン店(パン屋)」「トースト」「サンドウィッチ」<br />
          テーマ別で食パンの美味しさを探してみませんか？
        </p>
      </div>
      <div class="col-6 offset-1">
        <%= image_tag "mv.jpg", alt: "食パン", class: "about-image mb-2", width: "100%", height: "240" %>
        <div class="d-flex justify-content-between">
          <%= image_tag "toast.jpg", alt: "トースト", class: "about-image mr-1 mb-2", width: "100%", height: "175" %>
          <%= image_tag "sandwich.jpg", alt: "サンドウィッチ", class: "about-image ml-1 mb-2", width: "100%", height: "175" %>
        </div>
      </div>
    </div>
  </div>
</main>