@import "bootstrap";

/* ナビゲーションバー */
.navbar {
  border-bottom: 1px solid #3f312b;
}

/* ハンバーガーメニューの枠消し */
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

/* メイン要素 */
main {
  min-height: 850px;
  background-color: #ffffff;
}

/* about画面 */
.title {
  margin: 100px auto;
  font-size: 60px;
  text-align: center;
}

.about-image {
  object-fit: cover;
}

/* メインビジュアル */
.jumbotron {
  background: url(mv.jpg) center no-repeat;
  background-size: cover;
}

.jumbotron .container .mv-text {
  width: 320px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}

/* フッター */
footer {
  background-color: #3f312b;
}


@media screen and (max-width: 992px) {
  i {
    margin: 0 3px;
  }
}