@import "bootstrap";

.navbar {
  border-bottom: 1px solid #3f312b;
}

/* ハンバーガーメニューの枠消し */
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

main {
  min-height: 850px;
  background-color: #ffffff;
}

footer {
  background-color: #3f312b;
}